WeatherTest.WpfClient/Connected Services/WeatherServiceReference/WeatherTest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WeatherTest.Wcf.WeatherService.BusinessLogic.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WeatherTest.Wcf.WeatherService.BusinessLogic.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="City" nillable="true" type="tns:City" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCity" nillable="true" type="tns:ArrayOfCity" />
  <xs:complexType name="City">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="City" nillable="true" type="tns:City" />
  <xs:complexType name="ArrayOfTemperature">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Temperature" nillable="true" type="tns:Temperature" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemperature" nillable="true" type="tns:ArrayOfTemperature" />
  <xs:complexType name="Temperature">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Degree" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Temperature" nillable="true" type="tns:Temperature" />
</xs:schema>