WeatherTest.WpfClient/Connected Services/WeatherServiceReference/WeatherTest1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://desktop-0elaghu/wcf/WeatherTest.Wcf.WeatherService.BusinessLogic.WeatherService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WeatherTest.Wcf.WeatherService.BusinessLogic.Models" />
  <xs:element name="GetCities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WeatherTest.Wcf.WeatherService.BusinessLogic.Models" minOccurs="0" name="GetCitiesResult" nillable="true" type="q1:ArrayOfCity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityWeather">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cityId" type="xs:int" />
        <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityWeatherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WeatherTest.Wcf.WeatherService.BusinessLogic.Models" minOccurs="0" name="GetCityWeatherResult" nillable="true" type="q2:ArrayOfTemperature" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>